/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.

@import "../../../global-styles/styles/root.scss";
@import "./header-component.scss";
@import "./framebox-component.scss";

#home-page {
    display: flex;
    width: 100vw;
    height: 100vh;
}


// TABLET
@media (max-width:1380px) {
    #home-page {
      flex-direction: column;
    }
}
